<div class="headline">
  <h1>New way to buy a present</h1>
</div>
<div class="description">
  Make present headaches a thing of the past. we'll help you share costs within a group of people where each person can add expenses from their own devices.
</div>
<% if user_signed_in? %>
  <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
  <%= link_to 'Create a giftbox', new_gift_path %>
  <%= link_to 'View active prezzies', "/users/#{current_user.id}" %>
<% else %>
<div class="user-sign">
  <%= link_to 'Sign up', new_user_registration_path, :class => 'button dark-blue'%>
  <%= link_to 'Sign in', new_user_session_path, :class => 'button dark-blue' %>
</div>
<% end %>
