<%= form_for @gift do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :recipient %>
  <%= f.text_field :recipient %>
  <%= f.label :recipient_address %>
  <%= f.text_field :recipient_address %>
  <%= f.label :delivery_date %>
  <%= f.text_field :delivery_date %>
  <%= f.text_field :item, class: "hidden" %>
  <%= f.text_field :item_price, class: "hidden"%>
  <%= f.text_field :description, class: "hidden" %>
  <%= f.text_field :item_image, class: "hidden" %>
  <%= f.text_field :item_url, class: "hidden" %>
  <%= f.fields_for :contributors do |contributor_form| %>
    <%= render 'contributor_fields', f: contributor_form  %>
  <% end %>
  <p><%= link_to_add_association "Add a contributor", f, :contributors, class: 'add_contributor' %></p>

   <%= f.submit 'Create gift' %>
<% end %>