<%= form_for @gift do |f| %>
  <div class="form">
    <%= f.label :title %>
    <%= f.text_field :title, placeholder: "Mum's birthsday" %>
    <%= f.label :recipient%>
    <%= f.text_field :recipient, placeholder: "Bea Smith" %>
    <%= f.label :recipient_address %>
    <%= f.text_field :recipient_address, placeholder: "street, postcode, city, country" %>
    <%= f.label :delivery_date %>
    <%= f.text_field :delivery_date, placeholder: "dd/mm/yyyy" %>
    <!-- Hidden Fields -->
    <%= f.text_field :item, class: "hidden" %>
    <%= f.text_field :item_price, class: "hidden"%>
    <%= f.text_field :description, class: "hidden" %>
    <%= f.text_field :item_image, class: "hidden" %>
    <%= f.text_field :item_url, class: "hidden" %>
    <%= f.fields_for :contributors do |contributor_form| %>
      <%= render 'contributor_fields', f: contributor_form  %>
    <% end %>

    <div id="contributors" class="gift-block">
      <h3>Contributors</h3>
      <h4><%= link_to_add_association "Add a contributor", f, :contributors, class: 'add_contributor' %></h4>
    </div>
  </div>
  <div class="clearfix"></div>
  <%= render 'search_gift'%>
    <%= f.submit 'Create a giftbox', class: 'button dark-blue' %>
<% end %>
