<%= form_for @gift do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :recipient %>
  <%= f.text_field :recipient %>
  <%= f.label :recipient_address %>
  <%= f.text_field :recipient_address %>
  <%= f.label :delivery_date %>
  <%= f.text_field :delivery_date %>
  <%= f.submit 'Create gift' %>
<% end %>

<label>Search a Gift</label>
<input type="text" name="search_keyword" id="search_keyword"/>
<button id="amazon_search">Search</button>

<table id="products" class="table table-bordered">
  <tr>
    <td class="col-md-4"><a href="" class="link-center col-center product__link--1 product__title--1">Title 1</a></td>
    <td class="col-md-4"><a href="" class="text-center col-center product__link--2 product__title--2">Title 2</a></td>
    <td class="col-md-4"><a href="" class="text-center col-center product__link--3 product__title--3">Title 3</a></td>
  </tr>
  <tr>
    <td><img src="" class="center-block product__image--1"/></td>
    <td><img src="" class="center-block product__image--2"/></td>
    <td><img src="" class="center-block product__image--3"/></td>
  </tr>
  <tr>
    <td><p class="text-center product__price--1">Price 1</p></td>
    <td><p class="text-center product__price--2">Price 2</p></td>
    <td><p class="text-center product__price--3">Price 3</p></td>
  </tr>
</table>

<div class="amazon_error">
  <p></p>
</div>

<button id="add_contributors">Add contributors</button>
<div id="contributor"></div>


