<h1><%= @gift.title %></h1>

<div class="container">
  <div class="progress" class="row">
    <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:0%">
      0%
    </div>
  </div>

  <div id="contributors" class="row" >
  <% @contributors.each do |contributor| %>
    <%= div_for contributor do %>
      <p><%= contributor.email %></p>
      <%= button_to "Pay £#{number_with_precision(@gift.split_price.to_f, precision: 2)}", pay_gift_contributor_path(@gift, contributor), method: :patch, remote: true %>
      <p id="paid" class="hidden">Paid<p>
    <% end %>
    <%= form_tag pay_gift_contributor_path(@gift, contributor), method: :patch, remote: true do %>
      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-description="Prezzy Contribution"
              data-amount="<%= ((number_with_precision(@gift.split_price.to_f, precision: 2)) * 100) %>"></script>
      <% end %>
  <% end %>
  </div>

  <section class="row">
    <article id="recipient" class="col-md-6">
      <h2><%= @gift.recipient %></h2>
      <p><%= @gift.recipient_address %></p>
      <p><%= @gift.delivery_date %></p>
    </article>

    <article id="item" class="col-md-6">
      <a href=<%= @gift.item_url %>><%= @gift.description %></a>
      <img src=<%= @gift.item_image %> />
      <p><%= "£#{@gift.item_price}" %></p>
    </article>
  </section>
</div>