<h1><%= @gift.title %></h1>

<div id="event" class="container">
  <div class="progress" class="row">
    <div class="progress-bar" role="progressbar" aria-valuenow="<%= @gift.percentage_complete %>" aria-valuemin="0" aria-valuemax="100" style="width:<%= @gift.percentage_complete %>%">
      <%= @gift.percentage_complete %>%
    </div>
  </div>

  <h3><%= @gift.recipient %></h3>

  <section id="recipient"class="row">
    <article id="shipping-address" class="col-md-6">
      <h4>Shipping Details</h4>
      <p><%= "#{@gift.ship_name} #{@gift.ship_surname}" %></p>
      <p><%= @gift.address_string %></p>
      <p id="delivery_date"><%= @gift.delivery_date %></p>
      <p><%= @gift.purchase_token.nil? ? 'Amazon order not placed' : "Your Amazon Order has been placed." %></p>
    </article>

    <article id="item" class="col-md-6">
      <h4>Gift</h4>
      <div class="item-child">
        <a href=<%= @gift.item_url %>><%= @gift.description %></a>
      </div>
      <div class="item-child">
        <img src=<%= @gift.item_image %> />
      </div>
      <div class="item-child">
        <p><%= "£#{@gift.item_price}" %></p>
      </div>
    </article>
  </section>

  <div class="clearfix"></div>

  <h3>Organiser</h3>
  <section id="organiser">
    <div class="organiser-child">
      <%= image_tag "avatar-#{rand(1..4)}.jpg", alt: 'avatar', width: 100, height: 100 %>
    </div>
    <div class="organiser-child">
      <%= @organiser %>
    </div>
  </section>

  <div id="contributors">
    <h3>Contributors</h3>
    <% @contributors.each do |contributor| %>
      <%= div_for contributor do %>
      <div class="contributor-child">
        <%= image_tag "avatar-#{rand(1..4)}.jpg", alt: 'avatar', width: 100, height: 100 %>
      </div>
      <div class="contributor-child">
        <%= contributor.email %>
      </div>
      <div class="contributor-child">
        <p id="paid"><%= contributor.token.nil? ? "£#{number_with_precision(@gift.split_price.to_f, precision: 2)} to Pay" : "Paid" %>
        </p>
      </div>
      <% end %>
      <div class="<%= "hidden" unless contributor.token.nil? && contributor.current_user?(current_user) %>">
        <%= form_tag pay_gift_contributor_path(@gift, contributor), method: :patch, remote: true do %>
          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-description="Prezzy Contribution"
              data-amount="<%= (number_with_precision((@gift.split_price.to_f* 100), precision: 2)) %>"></script>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
