<h1><%= @gift.title %></h1>

<div id="event" class="container">
  <div class="progress" class="row">
    <div class="progress-bar" role="progressbar" aria-valuenow="<%= @gift.percentage_complete %>" aria-valuemin="0" aria-valuemax="100" style="width:<%= @gift.percentage_complete %>%">
      <%= @gift.percentage_complete %>%
    </div>
  </div>

  <section class="row">
    <article id="recipient" class="col-md-6">
      <h3><%= @gift.recipient %></h3>
      <h4>Shipping Details</h4>
      <h4><%= "#{@gift.ship_name} #{@gift.ship_surname}" %></h4>
      <p><%= "#{@gift.ship_add1}, #{@gift.ship_add2}, #{@gift.ship_city}, #{@gift.ship_county}, #{@gift.ship_pcode}" %></p>
      <p id="delivery_date"><%= @gift.delivery_date %></p>
      <p id="organiser"><%= @organiser %></p>
      <p><%= @gift.purchase_token.nil? ? 'Amazon order not placed' : "Your Amazon Order has been placed." %></p>
    </article>

    <article id="item" class="col-md-6">
      <a href=<%= @gift.item_url %>><%= @gift.description %></a>
      <img src=<%= @gift.item_image %> />
      <p><%= "£#{@gift.item_price}" %></p>
    </article>
  </section>

  <div id="contributors" class="row" >
    <div class="form">
      <% @contributors.each do |contributor| %>
        <%= div_for contributor do %>
          <p><%= contributor.email %></p>
          <%= image_tag "#{rand(1...4)}.png" %>
          <p id="paid">
            <%= contributor.token.nil? ? "£#{number_with_precision(@gift.split_price.to_f, precision: 2)} to Pay" : "Paid" %>
          </p>
        <% end %>
        <div class="<%= "hidden" unless contributor.token.nil? && contributor.current_user?(current_user) %>">
          <%= form_tag pay_gift_contributor_path(@gift, contributor), method: :patch, remote: true do %>
            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                data-description="Prezzy Contribution"
                data-amount="<%= (number_with_precision((@gift.split_price.to_f* 100), precision: 2)) %>"></script>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
