<div class="headline">
  <h1>New way to buy a present</h1>
</div>
<div class="description">
  Make present headaches a thing of the past. we'll help you share costs within a group of people where each person can add expenses from their own devices.
</div>

<% if user_signed_in? %>
  <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
  <%= link_to 'Create gift', new_gift_path %>
<% else %>

<div class="user-sign">


  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email, class: 'hide' %><br />
      <%= f.email_field :email, autofocus: true, placeholder: 'Email' %>
    </div>

    <div class="field">
      <%= f.label :password, class: 'hide' %>
      <%= f.password_field :password, autocomplete: "off", placeholder: 'Password' %>
    </div>

    <div class="actions">
      <%= f.submit "Log in", class: 'button dark-blue' %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field remember">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me, class: 'secondary-link' %>
      </div>
    <% end -%>
  <% end %>
</div>

<%= render "devise/shared/links" %>

<% end %>