<footer>
  <div class="text-area">
    <div id="links-container">
      <ul>
        <li>
          <%= link_to 'About', new_user_session_path %>
        </li>
        <li>
          <%= link_to 'Contact Us', new_user_session_path %>
        </li>
        <li>
          <%= link_to 'Terms & Conditions', new_user_session_path %>
        </li>
        <li>
          <%= link_to 'Privacy & Cookies', new_user_session_path %>
        </li>
      </ul>
    </div>
    <div id="colophon">
      <div id="logo-and-motto" class="item">
        <a href="/" >
          <div id="logo">
            <%= image_tag 'gift-logo-footer.png' %>
          </div>
        </a>
        <div id="motto">
            <span id="next-way">The next way</span>
            <span id="contribute">to share expenses</span>
            <span id="for-gift">for a gift</span>
        </div>
      </div>
      <div id="company-information" class="item">
        <ul>
          <li>© 2015 GiftBox Ltd</li>
          <li>Registered number: 46578 England</li>
          <li>
            "Registered office: "
            <a target="_blank" alt"View on Google Maps" href="">Makers Academy, UK</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- /text-area -->
</footer>

